!!! 5
html
  head
    title= title
    
    <!--[if lt IE 9]>
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="stylesheet", href="/stylesheets/blueprint/screen.css", media="screen, projection")
    link(rel="stylesheet", href="/stylesheets/blueprint/print.css", media="print")
    link(rel="stylesheet", href="/stylesheets/global.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC:regular", type="text/css")
  body
    #spacer
    #container.container
      != body

    